<% include header.ejs %>
<div class="container re">
    <div class="row col-lg-6">
        <h1>欢迎注册</h1>
        <form class="z-form">
            <div class="form-group">
                <label for="username">用户名</label>
                <input type="text" class="form-control" id="username" placeholder="用户名">
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" placeholder="密码至少六位">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 我遵守注册规定
                </label>
            </div>
            <button type="button" id="zhuce" class="btn btn-default">注册</button>
        </form>
        <div class="alert alert-success" role="alert">注册成功！&nbsp;&nbsp;&nbsp;<a href="/">直接登录</a></div>
        <div class="alert alert-warning" role="alert">用户名已存在！</div>
        <div class="alert alert-danger" role="alert">服务器内部发生错误！</div>
    </div>
</div>
<% include footer.ejs %>